<div id='main-container' class="panel">
	<div class="panel-body">
    
		<div class="page-header">
			<h1>AngularJS <kbd><acronym title="Representational State Transfer">REST</acronym></kbd> Client</h1>
			<h1><small>About this site</small></h1>
		</div>

		<p>
			This is a coding project to explore various technologies to produce an
			enterprise content management system.  I'm not sure if that's exactly accurate, but it sounds 
			cool &ndash; I'm keep'n it.  This project uses the following to create a light-weight 
			web client in conjunction with an Enterprise Java 
			<abbr title='Representational State Transfer'>REST</abbr> endpoint managing user resources.
		</p>
			
		<ul class='about-links client-links'>
			<li><a href='https://angularjs.org/'>AngularJS</a></li>
			<li><a href='http://getbootstrap.com/'>Bootstrap</a></li>
			<li><a href='http://jquery.com/'>JQuery</a></li>
			<li><a href='http://bower.io/'>bower.io</a></li>
			<li><a href='https://nodejs.org/en/'>node.js</a></li>
			<li>
				<ul>
					<li>
						<p>These technologies were uses to create a dynamic client-side
						presentation, manage development packages (dependencies), and
						test locally.
						</p>
					</li>
				</ul>
			</li>
		</ul>
		
		<ul class='about-links server-links'>
			<li><a href='https://jcp.org/en/jsr/detail?id=370'>J2EE JSR 370</a></li>
			<li><a href='maven.apache.org'>Apache Maven</a></li>
			<li>
				<ul>
					<li>
						<p>The Jersey project's reference impl. of JSR 370, the Java API for 
							RESTful Web Services is used for creating URL endpoints for serving 
							resources.  Apache Maven is used for dependency management and
							build/deployment lifecycle.
						</p>
					</li>
				</ul>
			</li>
		</ul>
		
		<ul class='about-links deployment-links'>
			<li><a href='github.com'>GitHub</a></li>
			<li><a href='maven.apache.org'>Google Appengine</a></li>
			<li>
				<ul>
					<li>
						<p>GitHub pages for source code management and static file hosting, via
						gh-pages.  Google's Appengine for API endpoint hosting and resource
						management.
						</p>
					</li>
				</ul>
			</li>
		</ul>
		
		<ul class="nav nav-pills nav-stacked main-nav main-nav-home">
  			<li role="presentation" class="active"><a href="#/home/">Home</a></li>
			<li role="presentation"><a href="#/users/">Users</a></li>
		</ul>
		
	</div>
</div>