<div id='main-container' class="panel panel-default">
	<div class="panel-body">

		<div class='media-left media-middle'>
			<a href="#">
				<img class='media-object user-icon' src='../images/user_icon.png' alt='{{user.lastname}}' />
			</a>
		</div>
		<div class='media-body'>
			<h4 class='media-heading'>{{user.firstname}} {{user.lastname}}</h4>
			<p>Birthdate: {{user.birthdate | date:'MM/dd/yyyy'}}</p>
			<p>{{user.bio}}</p>
		</div>

		<nav>
			<ul class="pager">
				<li><a href="#/{{user.link.rel}}">Back</a></li>
			</ul>
		</nav>

	</div>
</div>