<div id='main-container' class="panel panel-default">
	<div class="panel-body">

		
		<div class="page-header">
			<h1>AngularJS <kbd><acronym title="Representational State Transfer">REST</acronym></kbd> Client <small>User listing</small></h1>
		</div>

		<table class='table table-hover'>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='user in users'>
					<td><a href="#/users/{{user.id}}">{{user.firstname}}</a></td>
					<td><a href="#/users/{{user.id}}">{{user.lastname}}</a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
