body{
	font-family: Verana, Arial, sans-serif;
}

div#main-container {
	width:800px;
	margin:25px auto;
}

li.user {
	list-style: none;
}

.panel-footer .source-info {
	font-size:10px !important;
}
.source-info a {
	font-size:10px !important;
}

img.user-icon {
	width:256px;
}